extends layout

block content
  h1 Welcome to the Population Data Website
  p This website provides population data for various cities in Morocco. You can find the data set in the "Population" section of the website.
