doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css")
    title Population Data Website
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/population") Population
          li
            a(href="/aboutus") About Us
    main
      block content
    footer
      p &copy; 2023 Population Data Website
